body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, black, rgb(172, 8, 84), black)
}

canvas {
  border-radius: 10px;
  animation: neonPulse 8s infinite alternate;
}

@keyframes neonPulse {
  from {
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
  }
  to {
    box-shadow: 0 0 120px #ffffff, 0 0 220px #ff0062, 0 0 350px #ffffff;
  }
}

